<div fxLayout="row" fxLayoutAlign="space-between center" class="container test">
    <div>Sucré Salé</div>
    <div fxLayout="row" fxLayoutGap="1rem">
        <address>
            <div>
                Sucré Salé
                <br>
                8 pl 3 Rois
                <br>
                60180 NOGENT SUR OISE
            </div>
        </address>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="0.5rem">
                <div>
                    Horaires:
                </div>
                <div fxLayout="column">
                    <div>Lundi au Samedi</div>
                    <div>11h-14h / 18h-23h</div>
                </div>
            </div>
            <div fxLayout="row">
                <div>TEL:</div>
                <div>03 44 53 05 17</div>
            </div>
        </div>

    </div>
</div>