<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="container" [color]="color">
    <div fxLayoutAlign=" center" fxLayoutGap="1rem" [routerLink]="['/']">
        <span><i>{{store.brand}}</i></span>
        <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
        <address class="mat-body-1" fxLayoutAlign="center center">
            <div>
                {{store.brand}}
                <br>
                {{store.address.street}}
                <br>
                {{store.address.zip}} {{store.address.city}}
            </div>
        </address>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="0.5rem" class="mat-small" fxLayoutAlign="center">
                <div>
                    Horaires:
                </div>
                <div fxLayout="column">
                    <div>{{store.openingTime.days}}</div>
                    <div>{{store.openingTime.hours}}</div>
                </div>
            </div>
            <div fxLayout="row" class="mat-body-strong">
                <div>TEL : {{store.phone}}</div>
            </div>
        </div>
    </div>
    <div>
        <button mat-stroked-button  [routerLink]="['/login']">CONNEXION<mat-icon>login</mat-icon></button>
    </div>
</mat-toolbar>