<div fxFlex fxLayout="column">
    <ng-container *ngIf="store$ | async as store">
        <div>
            <app-top-navigation [store]="store" [color]="color"></app-top-navigation>
        </div>
        <div fxFlex class="container">
            <router-outlet></router-outlet>
        </div>
        <ng-container *ngIf="links$ | async as links">
            <div>
                <app-footer class="footer" [links]="links" [brand]="store.brand"></app-footer>
            </div>
        </ng-container>
       
    </ng-container>
</div>